<!--Footer / Bottom Nav Bar-->
     <!--Home Page-->
   <%if (title == "Anime Fever") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy;  Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/"> <i class="fa-solid fa-arrow-up"></i> Back To Top</a>
        </ul>
        <ul class="nav justify-content-end"role="button">
        <li class="nav-item">
         <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        </ul>
        </nav>
   <% } %>
      
     <%if (title == "Add Anime") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy;  Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/animelist"> <i class="fa-solid fa-rotate-left"></i> Back To Top10</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        <ul class="nav justify-content-end"role="button">
        <li class="nav-item">
         <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        </ul>
        </nav>
   <% } %>
    <%if (title == "Edit Anime") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy;  Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/animelist"> <i class="fa-solid fa-rotate-left"></i> Back To Top10</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i>Back To Home</a>
        </ul>
        <ul class="nav justify-content-end"role="button">
        <li class="nav-item">
         <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        </ul>
        </nav>
   <% } %>
   
    <%if (title == "Contact Me") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
         <ul class="nav justify-content-end"role="button">
        <li class="nav-item ">
         <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        </ul>
        </nav>
   <% } %>
   <%if (title == "Trending") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/trending"> <i class="fa-solid fa-arrow-up"></i> Back To Top</a>
        </ul>
         <ul class="nav justify-content-end"role="button">
        <li class="nav-item">
        <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        </ul>
        </nav>
    <% } %>
    <%if (title == "Top10 Anime") {%>
        <nav class="navbar"style="background-color: #43DFEA;"> <!--Fixed bottom nav bar-->
        <h6 class="navbar-text">&copy; Anime Fever 2022. All Rights Reserved.</h6>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/home"> <i class="fa-solid fa-house-user"></i></i> Back To Home</a>
        </ul>
        <ul class="list-unstyled" >
        <a class="nav-link" href="/animelist"> <i class="fa-solid fa-arrow-up"></i> Back To Top</a>
        </ul>
         <ul class="nav justify-content-end"role="button">
        <li class="nav-item">
        <a class="nav-link" href="https://www.crunchyroll.com/"><i class="fa-solid fa-dragon"></i>
         Watch Anime Here</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.mangaread.org/">
        <i class="fa-solid fa-frog"></i>Read Manga Here</a>
        </li>
        
        </nav>
    <% } %>
        
    