<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <!--This codeline defines the default zoom for mobile devices.-->
    <meta name="viewport" content="width=device-width, initial-scale=1" /> 
    <link href="app.css" rel="stylesheet" type="text/css"> 
    <link rel='stylesheet' href='list.css' />

    
</head>

<body>
<div class="Banner">
<header >
    <img src="Assets/animebanner.jpg" class="img-fluid "style="width: 100%;" alt="Banner Img">
    <h1>Anime Fever</h1><p>The Best Source For The Best Animes That Exist</p>
</header>
</div>
<!--List For Routing-->
        <!--Row For List Descriptions-->
<div id ="table">
<div class = "table-responsive-md">
 <table class= "table table-bordered table-striped table-hover">
    <tr class="nav justify-content-center">
        <th class="text-center col-4"> 
        <li class="nav-item">
            <h3>Page</h3>
        </li>
        </th>
        <th class="text-center col-5">
         <li class="nav-item">
            <h3>Description</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li class="nav-item">
            <h3>Link</h3>
        </li>
        </th>
    </tr>
    <!--Row For Top10-->
    <tr class="nav justify-content-center">
             <td class="text-center col-4">
             <li class="nav-item">
            <h4>Database Collection of The Top 10 Anime in History</h4>
             </li></td>
              <td class="text-center col-5">
              <li class="nav-item">
            <h4>A Detailed List of the most Record Breaking Anime to ever exist. 
            A list millions of anime fans will approve of. 
            This is your recommended go to for the best sources of anime created and is a good starter point for those looking to dive into the world of anime. 
            </h4>
             </li></td>
              <td class="text-center col-2">
             <li class="nav-item">
            <a class="nav-link" href="/animelist"><i class="fa-solid fa-hand-fist"></i>Top10</a>
            <!--Img For Link-->
            <img src="Assets/dbzlogo.jpg" class="img-fluid " alt="..."height="50%" width="50%">
             </li></td>   
        </tr>
    <!--Row For Trending-->
        <tr class="nav justify-content-center">
             <td class="text-center col-4">
              <li class="nav-item">
            <h4>A look into the Currently Trending Anime of This year</h4>
             </li></td>
              <td class="text-center col-5">
             <li class="nav-item">
            <h4>A Graphic Overview of The Currently Trending Anime.
            Go here to see an insight of the levels anime has reached.
            </h4>
             </li></td>
              <td class="text-center col-2">
             <li class="nav-item">
            <a class="nav-link" href="/trending"><i class="fa-solid fa-arrow-trend-up"></i>Trending</a>
            <!--Img For Link-->
            <img src="Assets/broly.png" class="img-fluid " alt="..."height="50%" width="50%">
             </li></td>
            
        </tr>
    </table>
    </div>
  </div>
<div id ="wrapper">
<!--Banner Text For Carousel-->
<div class="jumbotron jumbotron-fluid">
  <div class="container">
<div id="main_text">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <p class="lead">Plug Into Anime's Most Electrifying Lineup</p>
  </div>
</div>
<!--Slideshow carousel -->
<div id ="Slideshow">
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  <!--Data Attributes That Control the Carousel-->
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
  </div>
  <!--Move The carousel & order the items-->
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
     <img src="Assets/demonhashara.jpg" class="d-block w-100" alt="Demon Slayer Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Demon Slayer</h2>
        <h5>Set Your Heart Ablaze</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/mha3.jpg" class="d-block w-100" alt="My Hero Academia Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>MHA Big 3</h2>
        <h5>My Hero Academia The Strongest Hero.</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/narutocast.webp" class="d-block w-100" alt="Naruto Shippunden Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Naruto Shippunden</h2>
        <h5>A Hero's Story.</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/onepiece.webp" class="d-block w-100" alt="One Piece Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>One Piece</h2>
        <h5>The Ultimate Treasure Hunt.</h5>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/gokunvegeta.png" class="d-block w-100" alt="Dragon Ball Legends Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Dragon Ball Legends</h2>
        <h5>The Ultimate Tag Team.</h5>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</div>
<!--End of Slideshow code-->
<br>
<br>
<!--Anime Vs Manga Section-->
<div class="manga">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
  <h1>Anime VS Manga</h1>
  </div>
</div>
  <p>To oversimplify manga vs. anime->  Anime are TV shows or movies, while manga are comic books or graphic novels.
   The two media share a unique visual style, and many manga serve as the basis for anime. 
   Still, most manga are never made into anime series, and not every anime series are based on manga.</p>
</div>
<!--End of Anime Vs Manga code-->

<!--Reference Links code (where to watch)-->
 <div id="reference"> 
        <div class="rounded "><li> 
        <a href="https://www.crunchyroll.com/"><i class="fa-solid fa-hat-wizard"></i> Watch Anime Here</a>
        </li>
        <br>
        <li>
        <a href="https://www.mangaread.org/"><i class="fa-solid fa-book-open"></i> Read Manga Here</a>
        </li>
        </div> 
        
    </div> 
 <!--Footer Img-->
<div class="Footer2">
<footer >
    <img src="Assets/animelogos.webp" class="img-fluid "style="width: 100%;" alt="Anime Logo Banner">
</footer>
</div>
<br>
</div>
</body>
</html>