<!DOCTYPE HTML> 
<html> 

<head> 
<meta charset="UTF-8"> 
<meta name="viewport" content="width=device-width, initial-scale=1" /> 
<link href="app.css" rel="stylesheet" type="text/css"> 
<link rel='stylesheet' href='list.css' />

</head> 

<body>
<div class="Banner2">
<header >
    <!--Banner img-->
    <img src="Assets/animelogos.webp" class="img-fluid " style="width: 100%;" alt="Anime Banner Logo">
     <!--Trending Video-->
    <div class = "video">
        <iframe width="100%" 
        height="500" 
        src="https://www.youtube.com/embed/V_MX0HiIgRQ" 
        title="Anime 2022 Trailer" 
        frameborder="1" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen
        alt="Anime 2022 Trailer">
        </iframe>
        <aside>
        <p>
            Above is a Sample Trailer to Anime 2022
        </p>
    </aside>
    </div>
    <br>
      <!--Title of Trending List-->
   <h6>Top Anime Currently Trending</h6>
   <br>
</header>
</div>
<!--Trending Carousel Table Code-->
<div id ="table">
<div class = "table-responsive-md">
<table class= "table table-bordered table-striped table-hover">
    <tr class="nav justify-content-center">
        <th class="text-center col-2"> 
        <li >
            <h3>1</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>2</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>3</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>4</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>5</h3>
        </li>
        </th>
    </tr>
    <!--Row For Trending Names-->
    <tr class="nav justify-content-center">
        <th class="text-center col-2"> 
        <li >
            <h4>Chainsaw Man</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>Reincarnated as a Sword</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>BLEACH: Thousand-Year Blood War</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>Spy x Family</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>The Eminence in Shadow</h4>
        </li>
        </th>
    </tr>
    </table>
    </div>
  </div>
       <br>
<!--Trending Carousel Code-->
<section class="Trending">
<!--Slideshow carousel -->
<div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
  <!--Data Attributes That Control the Carousel-->
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 5"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 6"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 7"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="7" aria-label="Slide 8"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="8" aria-label="Slide 9"></button>
    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="9" aria-label="Slide 10"></button>
  </div>
  <!--Move The carousel & order the items-->
  <div class="carousel-inner">
    <div class="carousel-item active" data-bs-interval="4000">
     <img src="Assets/chainsaw.png" class="d-block w-100" alt="Chainsaw Man Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Chainsaw Man</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/sword.webp" class="d-block w-100" alt="Reincarnated as a Sword Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/bleach.jpg" class="d-block w-100" alt="Thousand-Year Blood War Cover Art" height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Thousand-Year Blood War</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/spyx.jpg" class="d-block w-100" alt="Spy X Family Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/shadow.jpg" class="d-block w-100" alt="The Eminence in Shadow Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>The Eminence in Shadow</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/seven.jpg" class="d-block w-100" alt="Seven Deadly Sins Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Seven Deadly Sins</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/promised.jpg" class="d-block w-100" alt="Promised NeverLand Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Promised NeverLand</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/slime.jpg" class="d-block w-100" alt="Reincarnated as a Slime Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Reincarnated as a Slime</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/bluelock.jpg" class="d-block w-100" alt="Blue Lock Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
        <h2>Blue Lock</h2>
      </div>
    </div>
    <div class="carousel-item" data-bs-interval="4000">
      <img src="Assets/mobpsycho.webp" class="d-block w-100" alt="Mob Psycho 100 Cover Art"height="500px">
      <div class="carousel-caption d-none d-md-block">
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
</section>
<br>
<!--End of Slideshow code-->

<!--Second Section Starts Here-->
<div class="Banner3">
  <br>
      <!--Title of Niche List-->
   <h6>Niche Catagories</h6>
   <p>Dive Into More Diverse Anime</p>
</div>
<!--Niche Anime Section Code-->
<!--Niche Carousel Table Code-->
<div id ="table">
<div class = "table-responsive-md">
<table class= "table table-bordered table-striped table-hover">
    <tr class="nav justify-content-center">
        <th class="text-center col-2"> 
        <li >
            <h3>Adventure</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>Mystery</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>Isekai</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>Sports</h3>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h3>Comedy</h3>
        </li>
        </th>
    </tr>
    <!--Row For Niche Names-->
    <tr class="nav justify-content-center">
        <th class="text-center col-2"> 
        <li >
            <h4>Seven Deadly Sins</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>Promised NeverLand</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>That Time I Got Reincarnated as a Slime</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>Blue Lock</h4>
        </li>
        </th>
        <th class="text-center col-2">
         <li >
            <h4>Mob Psycho 100 III</h4>
        </th>
    </tr>
    </table>
    </div>
  </div>
    <br>

</body>
</html>
